.DS_Store
.ipynb_checkpoints/
slides/ds3.toc
slides/ds3.snm
slides/ds3.out
slides/ds3.pdf
slides/ds3.aux
slides/ds3.bbl
slides/ds3.bcf
slides/ds3.blg
slides/ds3.fls
slides/ds3.fdb_latexmk
slides/ds3.log
slides/ds3.nav
slides/ds3.run.xml
slides/ds3.synctex.gz
figures/convexity_1-crop.pdf
figures/convexity_2.odg
figures/convexity_2-crop.pdf
figures/convexity_1.pdf
figures/convexity_2.pdf
figures/convexity_3-crop.pdf
figures/convexity_3.odg
figures/convexity_3.pdf
figures/convexity.py
.gitignore
figures/optimization_I_conv_smooth_grad-expanded_annotated.pdf.xopp
figures/optimization_I_conv_smooth_grad-expanded.odp
figures/optimization_I_conv_smooth_grad.pdf
figures/optimization_III_SGD-expanded_annotated.pdf.xopp
figures/optimization_III_SGD-expanded.odp
figures/sgd1.odg
figures/smoothness.odg
figures/convexity_1.odg
